body {
    font-size: 18pt;
}

#item {
  border: 5pt;
  background-color: white;
}

#word {
  font-family: "Courier";
  color: blue;
  font-size: 200%;
}

#pronounce span{
  color: green;
  padding: 5pt;
  margin: 20pt auto 20pt auto;
}

.sentence #cn {
  color: grey;
}

ul {
  margin-left: -20pt;
}

br {
  color: black;
}